body {
    margin: 0;
    overflow: hidden; /* Prevent scrolling */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #000428, #004e92);
}

canvas {
    display: block;
    background-image: url(image2/spacebg.jpg); /* Space theme */
}

#restartBtn {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(135deg, #ff4747, #ff8c00);
    border: none;
    color: white;
    padding: 15px 30px;
    font-size: 1.5em;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

#restartBtn:hover {
    transform: translate(-50%, -50%) scale(1.1);
}
